# Environment Variables
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
db.sqlite3
media/
staticfiles/

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Render/Deployment
.render/
